<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator</title>
</head>
<body>
    <div>
        <!-- create a form for user to input their value -->
        <h1><strong>How many numbers do you wish to generate?</strong></h1>
        <!-- create a text box-->
        <form th:action= "@{/userSubmit}" method="get">
            <!--Create a text box for user to enter a value-->
            <input type="number" name="howMany" min="1" max="10" required >
            <!--submit button sends us to the next link stated in the link expression-->
            <button type="submit">Let's Go!</button>
        </form>
    </div>
</body>
</html>